.avatar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 5px;
  width: 60%;
}

.avatar img{
  padding-top: 20px;
}

.avatar span{
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 600;
}